<div style="width: 80%; background-color:aliceblue; margin-bottom: 20px">
  <canvas id="canvas1" style="width: 100%;">

  </canvas>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
  const bgl = document.getElementById('canvas1').getContext('2d');
  const bglChart = new Chart(bgl, {
    // display type is line
    type: 'line',
    data: {
      // label
      labels: {{{dates}}},
      datasets: [{
        label: 'blood glucose level (in nmol/L)',
        // data
        data: {{{datas}}}.bgl,
        borderWidth: 1,
        backgroundColor: "transparent",
        borderColor: "red",
      }]
    },
    options: {
      elements: {
        line: {
          tension: 0.2
        }
      },
    }
  });
</script>