<div style="width: 80%; background-color:aliceblue; margin-bottom: 20px">
  <canvas id="canvas2" style="width: 100%;">

  </canvas>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
  const weight = document.getElementById('canvas2').getContext('2d');
  const weightChart = new Chart(weight, {
    // display type is line
    type: 'line',
    data: {
      // label
      labels: {{{dates}}},
      datasets: [{
        label: 'weight (in kg)',
        // data
        data: {{{datas}}}.weight,
        borderWidth: 1,
        backgroundColor: "transparent",
        borderColor: "green",
      }]
    },
    options: {
      elements: {
        line: {
          tension: 0.2
        }
      },
    }
  });
</script>