<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/49a84a237c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <title>Main</title>
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>
        <div class = "page">
        <header>
            <h1 class="link" id="site-name">Diabetes@Home</h1>
        </header>

        {{{body}}}

        </div>
        <footer>
            <ul class = "bottom">
            <p id="helps"><a href="../html/AboutDiabetes.html">About Diabetes</a> | <a href="../html/AboutThisWebsite.html">About This Website</a></p>
            <p id="copyright">Copyright©2022 Diabetes@Home LTD</p>
            </ul>
        </footer>
    </body>
</html>