<div class="note">
<div class = "log_in">
<div class = "log_in_fill">

<div>
  <h1> Leaderboard of engagement rate</h1>
  <ol>
    {{#each pats}}
      <li> {{this.screenName}}-engagement rates: {{this.eRate}} </li>
    {{/each}}
  </ol>
</div>

<a href="/patient/home">
  <button class = "log_in_button"> Back </button>
</a>

</div>
</div>
</div>