<h1 style="text-align: center;"> View Last 2 Weeks (14 Days) History Data </h1>


<div class="change">
<div class="normal">
  {{> bgl dates=dates datas=datas}}

  {{> weight dates=dates datas=datas}}

  {{> doit dates=dates datas=datas}}

  {{> exercise dates=dates datas=datas}}
</div>
</div>


<a href="/patient/home">
  <button class="log_in_button log_in_button1"> Back </button>
</a>
